* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0D0D0D;
    font-family: sans-serif;
}
.popup {
    width: 240px;
    height: 140px;
    background-color: black;
    border: 1px solid #173840;
    text-align: center;
    margin: 3em auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.message {
    font-size: 1.4em;
    color: white;
}
.play-again {
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 0.5em 1em;
    background-color: #171426;
    border: 1px solid white;
    cursor: pointer;
}
.play-again:hover {
    color: white;
    background-color: #203359;
    color: rgb(71,136,199);
    border: 1px solid white;

}
.container {
    display: flex;
    flex-direction: column;
}
.stage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 300px;
    margin: 0 auto;
}
.player, .computer {
    width: 140px;
    height: 140px;
    padding: 1em;
    background-color: black;
    border: 5px solid grey;
}
.player-score, .robot-score {
    font-size: 1.4em;
}
.versus {
    width: 50px;
    height: 50px;
}

/* Win / Lose Class Toggles */
.default {
    border: 5px solid #173840;
    transition: 0.7s;
}
.draw {
    border: 5px solid #1975FF;
    transition: 0.7s;
}
.win {
    border: 5px solid #B5E617;
    transition: 0.7s;
}
.lose {
    border: 5px solid #FF1E00;
    transition: 0.7s;
}



/* Choices, rock / paper / scissors */
.options {
    display: flex;
    margin: 0 auto;
    
}
.hands {
    width: 80px;
    height: 80px;
    margin: 0 1em;
    border: 5px solid #173840;
    transition: 0.5s;
    cursor: pointer;
}
.hands:hover {
    border: 5px solid rgb(78,143,227);
    transform: scale(1.1);
}
#rock {
    background: url(images/Rock.svg); 
    background-color: black;
}
#paper {
    background: url(images/Paper.svg);
    background-color: black;
}
#scissors {
    background: url(images/Scissors.svg);
    background-color: black;
}

.results {
    margin: 3em auto;
    width: 450px;
    height: auto;
    background-color: black;
    overflow: auto;
    border: 1px solid #173840;
    text-align: center;
    padding: .7em 1em;
}
.result {
    color: lightgrey;
    font-size: 1.2em;
    font-weight: 400;
}

.player-score {
    color: #B5E617;
}
.robot-score {
    color: #FF1E00;
}

